<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.runtime.dq_EMFModel_provider">
      <dqEMFModel
            class="org.talend.commons.emf.InitialDQModelPackagesService">
      </dqEMFModel>
   </extension>
   <extension
         point="org.talend.repository.items.importexport.handler">
      <importItemsProvider
            description="Analysis,Report,Indicator,Pattern,Rules,SourceFile"
            id="org.talend.dataprofiler.core.tdq.importItemsProvider"
            name="TDQ Importer"
            priority="NORMAL">
         <importItemsHandler
               class="org.talend.cwm.management.handler.TOPImportHandler">
            <parameter
                  name="type"
                  value="TDQ_REPORT_ELEMENT,TDQ_ANALYSIS_ELEMENT,TDQ_INDICATOR_ELEMENT,TDQ_PATTERN_ELEMENT,TDQ_RULES,TDQ_SOURCE_FILE_ELEMENT,TDQ_JRAXML_ELEMENT">
            </parameter>
         </importItemsHandler>
      </importItemsProvider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.talend.dq.CWMPreferenceInitializer">
      </initializer>
   </extension>
    <extension
          point="org.talend.core.runtime.saveItemContextLinkService">
       <creator
             class="org.talend.dq.DQItemContextLinkService">
       </creator>
    </extension>

</plugin>
