<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.talend.dataprofiler.rcp.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.talend.dataprofiler.rcp.branding.top.application"
            name="Talend Open Profiler">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Talend Open Profiler">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="org.talend.dataprofiler.rcp.branding.top.intro">
      </intro>
      <introProductBinding
            introId="org.talend.dataprofiler.rcp.branding.top.intro"
            productId="org.talend.dataprofiler.rcp.branding.top.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="org.talend.dataprofiler.rcp.branding.top.intro"
            content="introContent.xml"
            id="org.talend.dataprofiler.rcp.branding.top.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
            point="org.talend.dataprofiler.core.service">
       <Service class="org.talend.dataprofiler.rcp.branding.top.TOPBrandingService"
               serviceId="org.talend.dataprofiler.core.service.IBrandingService"/>
   </extension>

</plugin>
