<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.dataprofiler.rcp.TOPBrandingService"
            serviceId="org.talend.core.ui.branding.IBrandingService">
      </Service>
     <Service
           class="org.talend.librariesmanager.model.service.JavaLibrariesService"
           serviceId="org.talend.core.ILibrariesService">
     </Service>
     <Service
           class="org.talend.dataprofiler.rcp.TopService"
           serviceId="ICoreService">
     </Service>
   </extension>
   <extension
         point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
            context="HSQL wizard"
            language="java"
            message="wizard for TOP"
            name="hsqldb.jar" mvn_uri="mvn:org.talend.libraries/hsqldb/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.jdbc.hsql/lib/hsqldb.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Sqlite wizard"
            language="java"
            message="Wizard use for TOP"
            name="sqlitejdbc-v056.jar" mvn_uri="mvn:org.talend.libraries/sqlitejdbc-v056/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.jdbc.sqlite3/lib/sqlitejdbc-v056.jar">
      </libraryNeeded>
       <libraryNeeded
            context="Jtds wizard"
            language="java"
            message="Wizard use for TOP"
            name="jtds-1.3.1-patch-20190523.jar" mvn_uri="mvn:net.sourceforge.jtds/jtds/1.3.1-patch-20190523" 
            required="true">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="log4j-1.2.16.jar" mvn_uri="mvn:log4j/log4j/1.2.16" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache/lib/log4j-1.2.16.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="commons-logging-1.0.4.jar" mvn_uri="mvn:org.talend.libraries/commons-logging-1.0.4/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.common/lib/commons-logging-api-1.0.4.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="commons-configuration-1.6.jar" mvn_uri="mvn:commons-configuration/commons-configuration/1.6" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.common/lib/commons-configuration-1.6.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="commons-lang-2.4.jar" mvn_uri="mvn:org.talend.libraries/commons-lang-2.4/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.common/lib/commons-lang-2.5.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hadoop-0.20.2-core.jar" mvn_uri="mvn:org.talend.libraries/hadoop-0.20.2-core/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.apache.0.20.2/lib/hadoop-0.20.2-core.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hadoop-core-1.0.0.jar" mvn_uri="mvn:org.talend.libraries/hadoop-core-1.0.0/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.apache.1.0.0/lib/hadoop-core-1.0.0.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-builtins-0.4.0.jar" mvn_uri="mvn:org.talend.libraries/hive-builtins-0.4.0/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.apache.1.0.0/lib/hive-builtins-0.4.0.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-exec-0.8.1.jar" mvn_uri="mvn:org.talend.libraries/hive-exec-0.8.1/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.apache.1.0.0/lib/hive-exec-0.8.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hadoop-0.20.2-cdh3u1-core.jar" mvn_uri="mvn:org.talend.libraries/hadoop-0.20.2-cdh3u1-core/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.cloudera.0.20.cdh3/lib/hadoop-0.20.2-cdh3u1-core.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hbase-0.90.1-cdh3u0.jar" mvn_uri="mvn:org.talend.libraries/hbase-0.90.1-cdh3u0/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop/lib/hbase-0.90.1-cdh3u0.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-hbase-handler-0.7.1-cdh3u3.jar" mvn_uri="mvn:org.talend.libraries/hive-hbase-handler-0.7.1-cdh3u3/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.cloudera.0.20.cdh3/lib/hive-hbase-handler-0.7.1-cdh3u3.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hadoop-auth-2.0.0-cdh4.0.1.jar" mvn_uri="mvn:org.talend.libraries/hadoop-auth-2.0.0-cdh4.0.1/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.cloudera.cdh4/lib/hadoop-auth-2.0.0-cdh4.0.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hadoop-common-2.0.0-cdh4.0.1.jar" mvn_uri="mvn:org.talend.libraries/hadoop-common-2.0.0-cdh4.0.1/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.cloudera.cdh4/lib/hadoop-common-2.0.0-cdh4.0.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hadoop-core-2.0.0-mr1-cdh4.0.1.jar" mvn_uri="mvn:org.talend.libraries/hadoop-core-2.0.0-mr1-cdh4.0.1/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.cloudera.cdh4/lib/hadoop-core-2.0.0-mr1-cdh4.0.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hadoop-hdfs-2.0.0-cdh4.0.1.jar" mvn_uri="mvn:org.talend.libraries/hadoop-hdfs-2.0.0-cdh4.0.1/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.cloudera.cdh4/lib/hadoop-hdfs-2.0.0-cdh4.0.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hbase-0.92.1-cdh4.0.1-security.jar" mvn_uri="mvn:org.talend.libraries/hbase-0.92.1-cdh4.0.1-security/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.cloudera.cdh4/lib/hbase-0.92.1-cdh4.0.1-security.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="protobuf-java-2.4.0a.jar" mvn_uri="mvn:org.talend.libraries/protobuf-java-2.4.0a/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.cloudera.cdh4/lib/protobuf-java-2.4.0a.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="datanucleus-api-jdo-3.0.7.jar" mvn_uri="mvn:org.talend.libraries/datanucleus-api-jdo-3.0.7/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.0/lib/datanucleus-api-jdo-3.0.7.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="datanucleus-core-3.0.9.jar" mvn_uri="mvn:org.talend.libraries/datanucleus-core-3.0.9/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.0/lib/datanucleus-core-3.0.9.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="datanucleus-rdbms-3.0.8.jar" mvn_uri="mvn:org.talend.libraries/datanucleus-rdbms-3.0.8/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.0/lib/datanucleus-rdbms-3.0.8.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hadoop-core-1.0.3.jar" mvn_uri="mvn:org.talend.libraries/hadoop-core-1.0.3/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.0/lib/hadoop-core-1.0.3.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-builtins-0.9.0.jar" mvn_uri="mvn:org.talend.libraries/hive-builtins-0.9.0/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.0/lib/hive-builtins-0.9.0.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-exec-0.9.0_hdp.jar" mvn_uri="mvn:org.talend.libraries/hive-exec-0.9.0_hdp/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.0/lib/hive-exec-0.9.0_hdp.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-jdbc-0.9.0_hdp.jar" mvn_uri="mvn:org.talend.libraries/hive-jdbc-0.9.0_hdp/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.0/lib/hive-jdbc-0.9.0_hdp.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-metastore-0.9.0_hdp.jar" mvn_uri="mvn:org.talend.libraries/hive-metastore-0.9.0_hdp/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.0/lib/hive-metastore-0.9.0_hdp.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-service-0.9.0_hdp.jar" mvn_uri="mvn:org.talend.libraries/hive-service-0.9.0_hdp/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.0/lib/hive-service-0.9.0_hdp.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="libfb303-0.7.0.jar" mvn_uri="mvn:org.talend.libraries/libfb303-0.7.0/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.0/lib/libfb303-0.7.0.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="libthrift-0.7.0.jar" mvn_uri="mvn:org.talend.libraries/libthrift-0.7.0/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.0/lib/libthrift-0.7.0.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hadoop-core-1.1.2.21.jar" mvn_uri="mvn:org.talend.libraries/hadoop-core-1.1.2.21/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.2/lib/hadoop-core-1.1.2.21.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hbase-0.94.2.21.jar" mvn_uri="mvn:org.talend.libraries/hbase-0.94.2.21/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.2/lib/hbase-0.94.2.21.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-builtins-0.10.0.21.jar" mvn_uri="mvn:org.talend.libraries/hive-builtins-0.10.0.21/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.2/lib/hive-builtins-0.10.0.21.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-exec-0.10.0.21.jar" mvn_uri="mvn:org.talend.libraries/hive-exec-0.10.0.21/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.2/lib/hive-exec-0.10.0.21.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-hbase-handler-0.10.0.21.jar" mvn_uri="mvn:org.talend.libraries/hive-hbase-handler-0.10.0.21/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.2/lib/hive-hbase-handler-0.10.0.21.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-jdbc-0.10.0.21.jar" mvn_uri="mvn:org.talend.libraries/hive-jdbc-0.10.0.21/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.2/lib/hive-jdbc-0.10.0.21.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-metastore-0.10.0.21.jar" mvn_uri="mvn:org.talend.libraries/hive-metastore-0.10.0.21/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.2/lib/hive-metastore-0.10.0.21.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-service-0.10.0.21.jar" mvn_uri="mvn:org.talend.libraries/hive-service-0.10.0.21/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.2/lib/hive-service-0.10.0.21.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="libfb303-0.9.0.jar" mvn_uri="mvn:org.talend.libraries/libfb303-0.9.0/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.2/lib/libfb303-0.9.0.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="libthrift-0.9.0.jar" mvn_uri="mvn:org.talend.libraries/libthrift-0.9.0/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.1.2/lib/libthrift-0.9.0.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="maprfs-0.1.jar" mvn_uri="mvn:org.talend.libraries/maprfs-0.1/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.mapr/lib/maprfs-0.1.jar">
      </libraryNeeded>
      
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="datanucleus-connectionpool-2.0.3.jar" mvn_uri="mvn:org.talend.libraries/datanucleus-connectionpool-2.0.3/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.mapr2/lib/datanucleus-connectionpool-2.0.3.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="datanucleus-core-2.0.3.jar" mvn_uri="mvn:org.talend.libraries/datanucleus-core-2.0.3/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.mapr2/lib/datanucleus-core-2.0.3.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="datanucleus-enhancer-2.0.3.jar" mvn_uri="mvn:org.talend.libraries/datanucleus-enhancer-2.0.3/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.mapr2/lib/datanucleus-enhancer-2.0.3.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="datanucleus-rdbms-2.0.3.jar" mvn_uri="mvn:org.talend.libraries/datanucleus-rdbms-2.0.3/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.mapr2/lib/datanucleus-rdbms-2.0.3.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hadoop-0.20.2-dev-core-mapr2.jar" mvn_uri="mvn:org.talend.libraries/hadoop-0.20.2-dev-core-mapr2/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.mapr2/lib/hadoop-0.20.2-dev-core-mapr2.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hadoop-conf-kerberos.jar" mvn_uri="mvn:org.talend.libraries/hadoop-conf-kerberos/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.mapr2/lib/hadoop-conf-kerberos.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hbase-0.92.0.jar" mvn_uri="mvn:org.talend.libraries/hbase-0.92.0/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.mapr2/lib/hbase-0.92.0.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hbase-0.92.1.jar" mvn_uri="mvn:org.talend.libraries/hbase-0.92.1/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.mapr2/lib/hbase-0.92.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-builtins-0.9.0-mapr2.jar" mvn_uri="mvn:org.talend.libraries/hive-builtins-0.9.0-mapr2/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.mapr2/lib/hive-builtins-0.9.0-mapr2.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-exec-0.9.0-mapr2.jar" mvn_uri="mvn:org.talend.libraries/hive-exec-0.9.0-mapr2/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.mapr2/lib/hive-exec-0.9.0-mapr2.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-hbase-handler-0.9.0.jar" mvn_uri="mvn:org.talend.libraries/hive-hbase-handler-0.9.0/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.mapr2/lib/hive-hbase-handler-0.9.0.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-jdbc-0.9.0-mapr2.jar" mvn_uri="mvn:org.talend.libraries/hive-jdbc-0.9.0-mapr2/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.mapr2/lib/hive-jdbc-0.9.0-mapr2.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-metastore-0.9.0-mapr2.jar" mvn_uri="mvn:org.talend.libraries/hive-metastore-0.9.0-mapr2/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.mapr2/lib/hive-metastore-0.9.0-mapr2.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-service-0.9.0-mapr2.jar" mvn_uri="mvn:org.talend.libraries/hive-service-0.9.0-mapr2/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.mapr2/lib/hive-service-0.9.0-mapr2.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="jdo2-api-2.3-ec.jar" mvn_uri="mvn:org.talend.libraries/jdo2-api-2.3-ec/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.mapr2/lib/jdo2-api-2.3-ec.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="libfb303_new.jar" mvn_uri="mvn:org.talend.libraries/libfb303_new/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.mapr2/lib/libfb303_new.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="libthrift.jar" mvn_uri="mvn:org.talend.libraries/libthrift/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.mapr2/lib/libthrift.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="jackson-mapper-asl-1.8.8.jar" mvn_uri="mvn:org.talend.libraries/jackson-mapper-asl-1.8.8/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.jackson/lib/jackson-mapper-asl-1.8.8.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="jackson-core-asl-1.8.8.jar" mvn_uri="mvn:org.talend.libraries/jackson-core-asl-1.8.8/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.jackson/lib/jackson-core-asl-1.8.8.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="derby-10.4.2.0.jar" mvn_uri="mvn:org.talend.libraries/derby-10.4.2.0/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.jdbc.derby/lib/derby-10.4.2.0.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="derby.jar" mvn_uri="mvn:org.talend.libraries/derby/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.jdbc.derby/lib/derby.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="derbyclient.jar" mvn_uri="mvn:org.talend.libraries/derbyclient/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.jdbc.derby/lib/derbyclient.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="derbynet.jar" mvn_uri="mvn:org.talend.libraries/derbynet/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.jdbc.derby/lib/derbynet.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="antlr-runtime-3.0.1.jar" mvn_uri="mvn:org.talend.libraries/antlr-runtime-3.0.1/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.axis2/lib/antlr-runtime-3.0.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="commons-dbcp-1.4.jar" mvn_uri="mvn:commons-dbcp/commons-dbcp/1.4" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.common/lib/commons-dbcp-1.4.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="commons-pool-1.5.4.jar" mvn_uri="mvn:commons-pool/commons-pool/1.5.4" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.common/lib/commons-pool-1.5.4.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="commons-logging-1.1.1.jar" mvn_uri="mvn:org.talend.libraries/commons-logging-1.1.1/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.common/lib/commons-logging-1.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hadoop-core-0.20.203.0.jar" mvn_uri="mvn:org.talend.libraries/hadoop-core-0.20.203.0/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.apache.0.20.203/lib/hadoop-core-0.20.203.0.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-exec-0.7.1.jar" mvn_uri="mvn:org.talend.libraries/hive-exec-0.7.1/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.apache.0.20.203/lib/hive-exec-0.7.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-jdbc-0.7.1.jar" mvn_uri="mvn:org.talend.libraries/hive-jdbc-0.7.1/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.apache.0.20.203/lib/hive-jdbc-0.7.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-metastore-0.7.1.jar" mvn_uri="mvn:org.talend.libraries/hive-metastore-0.7.1/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.apache.0.20.203/lib/hive-metastore-0.7.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-service-0.7.1.jar" mvn_uri="mvn:org.talend.libraries/hive-service-0.7.1/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.apache.0.20.203/lib/hive-service-0.7.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="libfb303.jar" mvn_uri="mvn:org.talend.libraries/libfb303/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.apache.0.20.203/lib/libfb303.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="slf4j-api-1.6.1.jar" mvn_uri="mvn:org.talend.libraries/slf4j-api-1.6.1/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.slf4j/lib/slf4j-api-1.6.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="slf4j-log4j12-1.6.1.jar" mvn_uri="mvn:org.talend.libraries/slf4j-log4j12-1.6.1/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.slf4j/lib/slf4j-log4j12-1.6.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="guava-11.0.2.jar" mvn_uri="mvn:org.talend.libraries/guava-11.0.2/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.guava/lib/guava-11.0.2.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-builtins-0.9.0-cdh4.1.2.jar" mvn_uri="mvn:org.talend.libraries/hive-builtins-0.9.0-cdh4.1.2/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.cloudera.cdh4/lib/hive-builtins-0.9.0-cdh4.1.2.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-exec-0.9.0-cdh4.1.2.jar" mvn_uri="mvn:org.talend.libraries/hive-exec-0.9.0-cdh4.1.2/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.cloudera.cdh4/lib/hive-exec-0.9.0-cdh4.1.2.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-jdbc-0.9.0-cdh4.1.2.jar" mvn_uri="mvn:org.talend.libraries/hive-jdbc-0.9.0-cdh4.1.2/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.cloudera.cdh4/lib/hive-jdbc-0.9.0-cdh4.1.2.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-metastore-0.9.0-cdh4.1.2.jar" mvn_uri="mvn:org.talend.libraries/hive-metastore-0.9.0-cdh4.1.2/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.cloudera.cdh4/lib/hive-metastore-0.9.0-cdh4.1.2.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="hive-service-0.9.0-cdh4.1.2.jar" mvn_uri="mvn:org.talend.libraries/hive-service-0.9.0-cdh4.1.2/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.cloudera.cdh4/lib/hive-service-0.9.0-cdh4.1.2.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Postgresql wizard"
            language="java"
            message="Wizard use for TOP"
            name="postgresql-9.4-1201.jdbc41.jar" mvn_uri="mvn:org.talend.libraries/postgresql-9.4-1201.jdbc41/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.jdbc.postgresql/lib/postgresql-9.4-1201.jdbc41.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="commons-lang-2.6.jar" mvn_uri="mvn:commons-lang/commons-lang/2.6" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.common/lib/commons-lang-2.6.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="commons-cli-1.2.jar" mvn_uri="mvn:commons-cli/commons-cli/1.2" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.common/lib/commons-cli-1.2.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="commons-codec-1.4.jar" mvn_uri="mvn:commons-codec/commons-codec/1.4" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.common/lib/commons-codec-1.4.jar">
      </libraryNeeded>
      
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="commons-collections-3.2.2.jar" mvn_uri="mvn:org.talend.libraries/commons-collections-3.2.2/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.common/lib/commons-collections-3.2.2.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="commons-logging-1.1.3.jar" mvn_uri="mvn:commons-logging/commons-logging/1.1.3" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.common/lib/commons-logging-1.1.jar">
      </libraryNeeded>
      
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="guava-12.0.1.jar" mvn_uri="mvn:org.talend.libraries/guava-12.0.1/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.guava/lib/guava-12.0.1.jar">
      </libraryNeeded>
      
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="httpcore-4.1.2.jar" mvn_uri="mvn:org.talend.libraries/httpcore-4.1.2/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.http/lib/httpcore-4.1.2.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Impala wizard"
            language="java"
            message="Wizard use for TOP"
            name="httpclient-4.2.5.jar" mvn_uri="mvn:org.talend.libraries/httpclient-4.2.5/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.http/lib/httpclient-4.2.5.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Impala wizard"
            language="java"
            message="Wizard use for TOP"
            name="httpcore-4.2.5.jar" mvn_uri="mvn:org.talend.libraries/httpcore-4.2.5/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.http/lib/httpcore-4.2.5.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="log4j-1.2.17.jar" mvn_uri="mvn:log4j/log4j/1.2.17" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache/lib/log4j-1.2.17.jar">
      </libraryNeeded>      
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="slf4j-api-1.7.5.jar" mvn_uri="mvn:org.talend.libraries/slf4j-api-1.7.5/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.slf4j/lib/slf4j-api-1.7.5.jar">
      </libraryNeeded>      
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="slf4j-log4j12-1.7.5.jar" mvn_uri="mvn:org.talend.libraries/slf4j-log4j12-1.7.5/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.slf4j/lib/slf4j-log4j12-1.7.5.jar">
      </libraryNeeded>      
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="slf4j-log4j12-1.7.5.jar" mvn_uri="mvn:org.talend.libraries/slf4j-log4j12-1.7.5/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.slf4j/lib/slf4j-log4j12-1.7.5.jar">
      </libraryNeeded>      
      
      <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for TOP"
            name="zookeeper-3.4.5.2.1.1.0-385.jar" mvn_uri="mvn:org.talend.libraries/zookeeper-3.4.5.2.1.1.0-385/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.zookeeper/lib/zookeeper-3.4.5.2.1.1.0-385.jar">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:org.talend.libraries.apache.axis2"
            id="antlr-runtime-3.4.jar"
            message="Wizard use for TOP"
            mvn_uri="mvn:org.antlr/antlr-runtime/3.4"
            name="antlr-runtime-3.4.jar"
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.axis2/lib/antlr-runtime-3.4.jar">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:org.talend.libraries.apache.http"
            id="commons-httpclient-3.0.1.jar"
            message="Wizard use for TOP"
            mvn_uri="mvn:commons-httpclient/commons-httpclient/3.0.1"
            name="commons-httpclient-3.0.1.jar"
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.http/lib/commons-httpclient-3.0.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:org.talend.libraries.apache.common"
            id="commons-io-2.4.jar"
            message="Wizard use for TOP"
            mvn_uri="mvn:commons-io/commons-io/2.4"
            name="commons-io-2.4.jar"
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.common/lib/commons-io-2.4.jar">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:org.talend.libraries.zookeeper"
            id="zookeeper-hdp2.2-lastest"
            message="Wizard use for TOP"
            mvn_uri="mvn:org.talend.libraries/zookeeper-3.4.6.2.2.0.0-2041/6.0.0"
            name="zookeeper-3.4.6.2.2.0.0-2041.jar"
            required="true"
            uripath="platform:/plugin/org.talend.libraries.zookeeper/lib/zookeeper-3.4.6.2.2.0.0-2041.jar">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:org.talend.libraries.zookeeper"
            id="zookeeper-HDP_2_3"
            message="Wizard use for TOP"
            mvn_uri="mvn:org.talend.libraries/zookeeper-3.4.6.2.3.2.0-2950/6.1.0"
            name="zookeeper-3.4.6.2.3.2.0-2950.jar"
            required="true"
            uripath="platform:/plugin/org.talend.libraries.zookeeper/lib/zookeeper-3.4.6.2.3.2.0-2950.jar">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:org.talend.libraries.hadoop.hdp.2.3"
            id="commons-logging-1.2.jar"
            name="commons-logging-1.2.jar" mvn_uri="mvn:commons-logging/commons-logging/1.2"
            uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.2.3/lib/commons-logging-1.2.jar">
      </libraryNeeded>
      <libraryNeeded
            context="Vertica 3.0 dbwizard"
            language="java"
            message="Vertica 3.0 dbwizard for TOP"
            mvn_uri="mvn:org.talend.libraries/vertica_3.0_jdk_5/6.0.0"
            name="vertica_3.0_jdk_5.jar"
            required="true">
      </libraryNeeded>
      <libraryNeeded
            context="Vertica 3.5 dbwizard"
            language="java"
            message="Vertica 3.5 dbwizard for TOP"
            mvn_uri="mvn:org.talend.libraries/vertica_3.5_jdk_5/6.0.0"
            name="vertica_3.5_jdk_5.jar"
            required="true">
      </libraryNeeded>
      <libraryNeeded
            context="Vertica 4.0 dbwizard"
            language="java"
            message="Vertica 4.0 dbwizard for TOP"
            mvn_uri="mvn:org.talend.libraries/vertica_4.0_jdk_5/6.0.0"
            name="vertica_4.0_jdk_5.jar"
            required="true">
      </libraryNeeded>
      <libraryNeeded
            context="Vertica 4.1 dbwizard"
            language="java"
            message="Vertica 4.1 dbwizard for TOP"
            mvn_uri="mvn:org.talend.libraries/vertica_4.1.7_jdk_5/6.0.0"
            name="vertica_4.1.7_jdk_5.jar"
            required="true">
      </libraryNeeded>
      <libraryNeeded
            context="Vertica 5.1 dbwizard"
            language="java"
            message="Vertica 5.1 dbwizard for TOP"
            mvn_uri="mvn:org.talend.libraries/vertica_5.1.6_jdk_5/6.0.0"
            name="vertica_5.1.6_jdk_5.jar"
            required="true">
      </libraryNeeded>
      <libraryNeeded
            context="Vertica 9 dbwizard"
            language="java"
            message="Needed for Vertica 9 jdbc jar"
            mvn_uri="mvn:org.talend.libraries/vertica-jdbc-9.0.0-0/6.0.0"
            name="vertica-jdbc-9.0.0-0.jar"
            required="true">
      </libraryNeeded>
      <libraryNeeded
            context="Vertica 6.0 dbwizard"
            language="java"
            message="Vertica 6.0 dbwizard for TOP"
            mvn_uri="mvn:org.talend.libraries/vertica-jdk5-6.0.2-0/6.0.0"
            name="vertica-jdk5-6.0.2-0.jar"
            required="true">
      </libraryNeeded>
      <libraryNeeded
            context="Vertica 6.1 dbwizard"
            language="java"
            message="Vertica 6.1 dbwizard for TOP"
            mvn_uri="mvn:org.talend.libraries/vertica-jdk5-6.1.2-0/6.0.0"
            name="vertica-jdk5-6.1.2-0.jar"
            required="true">
      </libraryNeeded>
      <libraryNeeded
            context="Vertica 7.0 dbwizard"
            language="java"
            message="Vertica 7.0 dbwizard for TOP"
            mvn_uri="mvn:org.talend.libraries/vertica-jdbc-7.0.1-0/6.0.0"
            name="vertica-jdbc-7.0.1-0.jar"
            required="true">
      </libraryNeeded> 
      <libraryNeeded
            context="Vertica 7.1 dbwizard"
            language="java"
            message="Vertica 7.1 dbwizard for TOP"
            mvn_uri="mvn:org.talend.libraries/vertica-jdbc-7.1.2-0/6.0.0"
            name="vertica-jdbc-7.1.2-0.jar"
            required="true">
      </libraryNeeded>
      <libraryNeeded
            context="Informix dbwizard"
            language="java"
            message="Informix dbwizard for TOP"
            mvn_uri="mvn:org.talend.libraries/ifxjdbc/6.0.0"
            name="ifxjdbc.jar"
            required="true">
      </libraryNeeded> 
      <libraryNeeded
            context="Postgresql 8 wizard"
            language="java"
            message="Postgresql 8 wizard for TOP"
            mvn_uri="mvn:postgresql/postgresql/8.4-703.jdbc4"
            name="postgresql-8.4-703.jdbc4.jar"
            required="true">
      </libraryNeeded>
      <libraryNeeded
            context="Postgresql 9+ wizard"
            language="java"
            message="Postgresql 9+ wizard for TOP"
            mvn_uri="mvn:org.postgresql/postgresql/42.2.5"
            name="postgresql-42.2.5.jar"
            required="true">
      </libraryNeeded>
      <libraryNeeded
            context="Redshift or Redshift SSO wizard"
            language="java"
            message="Redshift wizard or Redshift SSO for TOP"
            mvn_uri="mvn:com.amazon.redshift/redshift-jdbc42-no-awssdk/1.2.37.1061"
            name="redshift-jdbc42-no-awssdk-1.2.37.1061.jar"
            required="true">
      </libraryNeeded>
      <libraryNeeded
            context="Redshift SSO wizard"
            language="java"
            message="Redshift SSO wizard for TOP"
            mvn_uri="mvn:com.amazonaws/aws-java-sdk/1.11.406"
            name="aws-java-sdk-1.11.406.jar"
            required="true">
      </libraryNeeded>
        <libraryNeeded
              context="Oracle 8 dbwizard for TOP"
              language="java"
              message="Oracle 8 dbwizard for TOP"
              mvn_uri="mvn:org.talend.libraries/ojdbc12/6.0.0"
              name="ojdbc12.jar"
              required="true">
        </libraryNeeded>
        <libraryNeeded
              context="Oracle 9 dbwizard"
              language="java"
              message="Oracle 9 dbwizard for TOP"
              mvn_uri="mvn:org.talend.libraries/ojdbc14-9i/6.0.0"
              name="ojdbc14-9i.jar"
              required="true">
        </libraryNeeded>
      <libraryNeeded
              context="Oracle 10 dbwizard"
              language="java"
              message="Oracle 10 dbwizard for TOP"
              name="ojdbc14.jar" mvn_uri="mvn:org.talend.libraries/ojdbc14/6.0.0" 
              required="true">
        </libraryNeeded>
        <libraryNeeded
              context="Oracle 11 dbwizard for TOP"
              language="java"
              message="Oracle 11 dbwizard for TOP"
              mvn_uri="mvn:org.talend.libraries/ojdbc6/6.0.0"
              name="ojdbc6.jar"
              required="true">
        </libraryNeeded>
        <libraryNeeded
              context="Oracle 12 dbwizard "
              language="java"
              message="Oracle 12 dbwizard for TOP"
              mvn_uri="mvn:org.talend.libraries/ojdbc7/6.0.0"
              name="ojdbc7.jar"
              required="true">
        </libraryNeeded>
        <libraryNeeded
              context="Oracle 18 dbwizard"
              language="java"
              message="Oracle 18 dbwizard for TOP"
              mvn_uri="mvn:com.oracle.jdbc/ojdbc8/12.2.0.1"
              name="ojdbc8-12.2.0.1.jar"
              required="true">
        </libraryNeeded>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.talend.core.prefs"
            class="org.talend.dataprofiler.rcp.i18n.I18nPreferencePage"
            id="org.talend.dataprofiler.core.ui.pref.I18nPreferencePage"
            name="%page.name.internationalization">
      </page>
   </extension>
</plugin>
