<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.talend.dataquality.analysis.presentation.AnalysisModelWizardID"
      name = "%_UI_AnalysisModelWizard_label"
      class = "org.talend.dataquality.analysis.presentation.AnalysisModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/AnalysisModelFile.gif">
      <description>%_UI_AnalysisModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.talend.dataquality.analysis.presentation.AnalysisEditorID"
        name = "%_UI_AnalysisEditor_label"
        icon = "icons/full/obj16/AnalysisModelFile.gif"
        extensions = "analysis"
        class = "org.talend.dataquality.analysis.presentation.AnalysisEditor" 
        contributorClass="org.talend.dataquality.analysis.presentation.AnalysisActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.talend.dataquality.analysis.category.presentation.CategoryModelWizardID"
      name = "%_UI_CategoryModelWizard_label"
      class = "org.talend.dataquality.analysis.category.presentation.CategoryModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/CategoryModelFile.gif">
      <description>%_UI_CategoryModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.talend.dataquality.analysis.category.presentation.CategoryEditorID"
        name = "%_UI_CategoryEditor_label"
        icon = "icons/full/obj16/CategoryModelFile.gif"
        extensions = "category"
        class = "org.talend.dataquality.analysis.category.presentation.CategoryEditor" 
        contributorClass="org.talend.dataquality.analysis.category.presentation.CategoryActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.talend.dataquality.reports.presentation.ReportsModelWizardID"
      name = "%_UI_ReportsModelWizard_label"
      class = "org.talend.dataquality.reports.presentation.ReportsModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/ReportsModelFile.gif">
      <description>%_UI_ReportsModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.talend.dataquality.reports.presentation.ReportsEditorID"
        name = "%_UI_ReportsEditor_label"
        icon = "icons/full/obj16/ReportsModelFile.gif"
        extensions = "reports"
        class = "org.talend.dataquality.reports.presentation.ReportsEditor" 
        contributorClass="org.talend.dataquality.reports.presentation.ReportsActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.talend.dataquality.indicators.presentation.IndicatorsModelWizardID"
      name = "%_UI_IndicatorsModelWizard_label"
      class = "org.talend.dataquality.indicators.presentation.IndicatorsModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/IndicatorsModelFile.gif">
      <description>%_UI_IndicatorsModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.talend.dataquality.indicators.presentation.IndicatorsEditorID"
        name = "%_UI_IndicatorsEditor_label"
        icon = "icons/full/obj16/IndicatorsModelFile.gif"
        extensions = "indicators"
        class = "org.talend.dataquality.indicators.presentation.IndicatorsEditor" 
        contributorClass="org.talend.dataquality.indicators.presentation.IndicatorsActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.talend.dataquality.indicators.schema.presentation.SchemaModelWizardID"
      name = "%_UI_SchemaModelWizard_label"
      class = "org.talend.dataquality.indicators.schema.presentation.SchemaModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/SchemaModelFile.gif">
      <description>%_UI_SchemaModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.talend.dataquality.indicators.schema.presentation.SchemaEditorID"
        name = "%_UI_SchemaEditor_label"
        icon = "icons/full/obj16/SchemaModelFile.gif"
        extensions = "schema"
        class = "org.talend.dataquality.indicators.schema.presentation.SchemaEditor" 
        contributorClass="org.talend.dataquality.indicators.schema.presentation.SchemaActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.talend.dataquality.indicators.definition.presentation.DefinitionModelWizardID"
      name = "%_UI_DefinitionModelWizard_label"
      class = "org.talend.dataquality.indicators.definition.presentation.DefinitionModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/DefinitionModelFile.gif">
      <description>%_UI_DefinitionModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.talend.dataquality.indicators.definition.presentation.DefinitionEditorID"
        name = "%_UI_DefinitionEditor_label"
        icon = "icons/full/obj16/DefinitionModelFile.gif"
        extensions = "definition"
        class = "org.talend.dataquality.indicators.definition.presentation.DefinitionEditor" 
        contributorClass="org.talend.dataquality.indicators.definition.presentation.DefinitionActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.talend.dataquality.expressions.presentation.ExpressionsModelWizardID"
      name = "%_UI_ExpressionsModelWizard_label"
      class = "org.talend.dataquality.expressions.presentation.ExpressionsModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/ExpressionsModelFile.gif">
      <description>%_UI_ExpressionsModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.talend.dataquality.expressions.presentation.ExpressionsEditorID"
        name = "%_UI_ExpressionsEditor_label"
        icon = "icons/full/obj16/ExpressionsModelFile.gif"
        extensions = "expressions"
        class = "org.talend.dataquality.expressions.presentation.ExpressionsEditor" 
        contributorClass="org.talend.dataquality.expressions.presentation.ExpressionsActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.talend.dataquality.domain.presentation.DomainModelWizardID"
      name = "%_UI_DomainModelWizard_label"
      class = "org.talend.dataquality.domain.presentation.DomainModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/DomainModelFile.gif">
      <description>%_UI_DomainModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.talend.dataquality.domain.presentation.DomainEditorID"
        name = "%_UI_DomainEditor_label"
        icon = "icons/full/obj16/DomainModelFile.gif"
        extensions = "domain"
        class = "org.talend.dataquality.domain.presentation.DomainEditor" 
        contributorClass="org.talend.dataquality.domain.presentation.DomainActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.talend.dataquality.domain.pattern.presentation.PatternModelWizardID"
      name = "%_UI_PatternModelWizard_label"
      class = "org.talend.dataquality.domain.pattern.presentation.PatternModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/PatternModelFile.gif">
      <description>%_UI_PatternModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.talend.dataquality.domain.pattern.presentation.PatternEditorID"
        name = "%_UI_PatternEditor_label"
        icon = "icons/full/obj16/PatternModelFile.gif"
        extensions = "pattern"
        class = "org.talend.dataquality.domain.pattern.presentation.PatternEditor" 
        contributorClass="org.talend.dataquality.domain.pattern.presentation.PatternActionBarContributor" >
    </editor>
  </extension>    
</plugin>
