<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.talend.cwm.relational.presentation.RelationalModelWizardID"
      name = "%_UI_RelationalModelWizard_label"
      class = "org.talend.cwm.relational.presentation.RelationalModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/RelationalModelFile.gif">
      <description>%_UI_RelationalModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.talend.cwm.relational.presentation.RelationalEditorID"
        name = "%_UI_RelationalEditor_label"
        icon = "icons/full/obj16/RelationalModelFile.gif"
        extensions = "relational"
        class = "org.talend.cwm.relational.presentation.RelationalEditor" 
        contributorClass="org.talend.cwm.relational.presentation.RelationalActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.talend.cwm.softwaredeployment.presentation.SoftwaredeploymentModelWizardID"
      name = "%_UI_SoftwaredeploymentModelWizard_label"
      class = "org.talend.cwm.softwaredeployment.presentation.SoftwaredeploymentModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/SoftwaredeploymentModelFile.gif">
      <description>%_UI_SoftwaredeploymentModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>   
</plugin>
