<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.talend.core.runtime.librariesNeeded">
        <libraryNeeded
              context="plugin:org.talend.libraries.jung"
              language="java"
              message="Needed for Jung plugin"
              name="colt.jar" mvn_uri="mvn:org.talend.libraries/colt/6.0.0" 
              required="true">
        </libraryNeeded>
    </extension>
</plugin>
