<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name.DataExplorer"
            id="SQLExplorerPlugin">
      </category>
      <view
            allowMultiple="false"
            category="SQLExplorerPlugin"
            class="net.sourceforge.sqlexplorer.plugin.views.DatabaseStructureView"
            icon="icons/tree_mode.gif"
            id="net.sourceforge.sqlexplorer.plugin.views.DatabaseStructureView"
            name="%view.name.DatabaseStructure"/>
      <view
            allowMultiple="false"
            category="SQLExplorerPlugin"
            class="net.sourceforge.sqlexplorer.plugin.views.DatabaseDetailView"
            icon="icons/app_obj.gif"
            id="net.sourceforge.sqlexplorer.plugin.views.DatabaseDetailView"
            name="%view.name.DatabaseDetail"/>
      <view
            allowMultiple="false"
            category="SQLExplorerPlugin"
            class="net.sourceforge.sqlexplorer.connections.ConnectionsView"
            icon="icons/alias.gif"
            id="net.sourceforge.sqlexplorer.connections.ConnectionsView"
            name="%view.name.Connections">
      </view>
      <view
            allowMultiple="false"
            category="SQLExplorerPlugin"
            class="net.sourceforge.sqlexplorer.plugin.views.SQLHistoryView"
            icon="icons/sql_history.gif"
            id="net.sourceforge.sqlexplorer.plugin.views.SQLHistoryView"
            name="%view.name.SQLHistory">
      </view>
      <view
            allowMultiple="false"
            category="SQLExplorerPlugin"
            class="net.sourceforge.sqlexplorer.plugin.views.DataPreviewView"
            id="net.sourceforge.sqlexplorer.plugin.views.DataPreviewView"
            name="%view.name.DataPreview">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sourceforge.sqlexplorer.plugin.perspectives.SQLExplorerPluginPerspective"
            fixed="false"
            icon="icons/logo16.gif"
            id="net.sourceforge.sqlexplorer.plugin.perspectives.SQLExplorerPluginPerspective"
            name="%perspective.name.DataExplorer">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.talend.core.prefs"
            class="net.sourceforge.sqlexplorer.preferences.GeneralPreferencePage"
            id="net.sourceforge.sqlexplorer.preferences.GeneralPreferencePage"
            name="%page.name.DataExplorer">
      </page>
      
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%page.name.SQLEditor"
            category="net.sourceforge.sqlexplorer.preferences.GeneralPreferencePage"
            class="net.sourceforge.sqlexplorer.preferences.SQLPreferencePage"
            id="net.sourceforge.sqlexplorer.preferences.SQLPreferencePage">
      </page>
      <page
            category="net.sourceforge.sqlexplorer.preferences.GeneralPreferencePage"
            class="net.sourceforge.sqlexplorer.preferences.ConfirmationsPreferencePage"
            id="net.sourceforge.sqlexplorer.preferences.ConfirmationsPreferencePage"
            name="%page.name.Confirmations"/>
   </extension>
   <extension
         id="editors"
         point="org.eclipse.ui.editors">
      <editor
            class="net.sourceforge.sqlexplorer.plugin.editors.SQLEditor"
            contributorClass="net.sourceforge.sqlexplorer.plugin.editors.SqlExplorerEditorActionBarContributor"
            default="true"
            extensions="sql"
            icon="icons/editor_white.png"
            id="net.sourceforge.sqlexplorer.plugin.editors.SQLEditor"
            name="%editor.name.SqlEditor">
      </editor>
      <editor
            class="net.sourceforge.sqlexplorer.filelist.FileListEditor"
            default="true"
            extensions="fls"
            icon="icons/filelist.gif"
            id="net.sourceforge.sqlexplorer.filelist.FileListEditor"
            name="%editor.name.FileListEditor"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%category.name.SQLExplorer"
            id="net.sourceforge.sqlexplorer.new">
      </category>
      <wizard
            name="%wizard.name.SQLExplorerSQLEditor"
            icon="icons/edittsk_tsk.gif"
            category="net.sourceforge.sqlexplorer.new"
            class="net.sourceforge.sqlexplorer.plugin.wizards.NewSQLEditorWizard"
            id="net.sourceforge.sqlexplorer.plugin.wizards.sqleditor">
         <description>
            %wizard.description.CreateEmptySQLfile
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="net.sourceforge.sqlexplorer.rcp.SQLExplorerApplication"/>
      </application>
   </extension>

   <extension-point id="nodeContextAction" name="Database Structure Node Context Menu Action" schema="schema/nodeContextAction.exsd"/>
   <extension-point id="node" name="Database Structure Node" schema="schema/node.exsd"/>
   <extension-point id="nodeDetailTab" name="Database Structure Node Detail Tab" schema="schema/nodeDetailTab.exsd"/>
   <extension-point id="dataSetTableContextAction" name="Table Context Menu Action" schema="schema/dataSetTableContextAction.exsd"/>
   <extension-point id="editorAction" name="SQL Editor Action" schema="schema/editorAction.exsd"/>
   <extension-point id="explainPlanContextAction" name="Explain Plan Context Action" schema="schema/explainPlanContextAction.exsd"/>
   
   <extension
         id="nodeContextAction"
         point="net.sourceforge.sqlexplorer.nodeContextAction">
      <action
            class="net.sourceforge.sqlexplorer.dbstructure.actions.RefreshNodeAction"
            database-product-name="*"
            id="sqlexplorer.dbstructure.actions.RefreshNodeAction"
            name="Refresh Node"
            node-type="*"/>
      <action
            class="net.sourceforge.sqlexplorer.dbstructure.actions.CopyNodeNameAction"
            database-product-name="*"
            id="sqlexplorer.dbstructure.actions.CopyNodeNameAction"
            name="Copy Node Name"
            node-type="*"/>
      <action
            class="net.sourceforge.sqlexplorer.dbstructure.actions.GenerateSelectSQLAction"
            database-product-name="*"
            id="sqlexplorer.dbstructure.actions.GenerateSelectSQLAction"
            name="Generate SELECT Statement"
            node-type="table,column,base table"/>
      <action
            class="net.sourceforge.sqlexplorer.dbstructure.actions.CreateTableScriptAction"
            database-product-name="*"
            id="sqlexplorer.dbstructure.actions.CreateTableScriptAction"
            name="Generate TABLE Script"
            node-type="table,base table"/>
      <action
            class="net.sourceforge.sqlexplorer.dbstructure.actions.RemoveNodeFilterAction"
            database-product-name="*"
            id="sqlexplorer.dbstructure.actions.RemoveNodeFilterAction"
            name="Remove Node Filter"
            node-type="database"/>
   </extension>
   <extension
         id="dataSetTableContextAction"
         point="net.sourceforge.sqlexplorer.dataSetTableContextAction">
      <action
            class="net.sourceforge.sqlexplorer.dataset.actions.CopyCellAction"
            id="sqlexplorer.dataset.actions.CopyCellAction"
            name="Copy Cell Action"/>
      <action
            class="net.sourceforge.sqlexplorer.dataset.actions.CopyColumnNameAction"
            id="sqlexplorer.dataset.actions.CopyColumnNameAction"
            name="Copy Column Name Action"/>            
      <action
            class="net.sourceforge.sqlexplorer.dataset.actions.ExportCSVAction"
            group="export"
            id="sqlexplorer.dataset.actions.ExportCSVAction"
            name="Export\CSV File"/>            
      <action
            class="net.sourceforge.sqlexplorer.dataset.actions.ExportXLSAction"
            group="export"
            id="sqlexplorer.dataset.actions.ExportXLSAction"
            name="Export\XLS File"/>
      <action
            class="net.sourceforge.sqlexplorer.dataset.actions.ExportHTMLAction"
            group="export"
            id="sqlexplorer.dataset.actions.ExportHTMLAction"
            name="Export\HTML File"/>

   </extension>
   <extension
         id="product"
         name="SQL Explorer"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.sourceforge.sqlexplorer.application"
            name="%product.name.SQLExplorer">
         <property
               name="windowImages"
               value="icons/logo16.gif,icons/logo32.gif"/>
         <property
               name="appName"
               value="SQL Explorer">
         </property>
      </product>
   </extension>
   <extension
         id="EditorActions"
         point="net.sourceforge.sqlexplorer.editorAction">
      <action
            class="net.sourceforge.sqlexplorer.oracle.actions.ExplainAction2"
            database-product-name="Oracle*"
            icon="icons/explain.gif"
            id="net.sourceforge.sqlexplorer.actions.explainplan"
            name="Explain Action">
      </action>
   </extension>
   <extension
         point="net.sourceforge.sqlexplorer.node">
      <node
            class="net.sourceforge.sqlexplorer.oracle.nodes.FunctionFolder"
            database-product-name="Oracle*"
            id="net.sourceforge.sqlexplorer.oracle.functions"
            name="Funtions"
            parent-node="schema+catalog"
            table-type="function_folder">
      </node>
      <node
            class="net.sourceforge.sqlexplorer.oracle.nodes.JavaSourceFolder"
            database-product-name="Oracle*"
            id="net.sourceforge.sqlexplorer.oracle.javaSources"
            name="Java Sources"
            parent-node="schema+catalog"
            table-type="java_source_folder">
      </node>
      <node
            class="net.sourceforge.sqlexplorer.oracle.nodes.MaterializedViewFolder"
            database-product-name="Oracle*"
            icon="icons/view.gif"
            id="net.sourceforge.sqlexplorer.oracle.materializedViews"
            name="Materialized Views"
            parent-node="schema+catalog"
            table-type="materialized_view_folder">
      </node>
      <node
            class="net.sourceforge.sqlexplorer.oracle.nodes.PackageBodyFolder"
            database-product-name="Oracle*"
            id="net.sourceforge.sqlexplorer.oracle.packageBodies"
            name="Package Bodies"
            parent-node="schema+catalog"
            table-type="package_body_folder">
      </node>
      <node
            class="net.sourceforge.sqlexplorer.oracle.nodes.PackageFolder"
            database-product-name="Oracle*"
            id="net.sourceforge.sqlexplorer.oracle.packages"
            name="Packages"
            parent-node="schema+catalog"
            table-type="package_folder">
      </node>
      <node
            class="net.sourceforge.sqlexplorer.oracle.nodes.ProcedureFolder"
            database-product-name="Oracle*"
            icon="icons/stored_procedure.gif"
            id="net.sourceforge.sqlexplorer.oracle.procedures"
            name="Procedures"
            parent-node="schema+catalog"
            table-type="procedure_folder">
      </node>
      <node
            class="net.sourceforge.sqlexplorer.oracle.nodes.SequenceFolder"
            database-product-name="Oracle*"
            icon="icons/sequence.gif"
            id="net.sourceforge.sqlexplorer.oracle.sequences"
            name="Sequences"
            parent-node="schema+catalog"
            table-type="sequence_folder">
      </node>
      <node
            class="net.sourceforge.sqlexplorer.oracle.nodes.TriggerFolder"
            database-product-name="Oracle*"
            icon="icons/trigger.gif"
            id="net.sourceforge.sqlexplorer.oracle.triggers"
            name="Triggers"
            parent-node="schema+catalog"
            table-type="trigger_folder">
      </node>
      <node
            class="net.sourceforge.sqlexplorer.oracle.nodes.TableIndexFolder"
            database-product-name="Oracle*"
            icon="icons/index.gif"
            id="net.sourceforge.sqlexplorer.oracle.nodes.TableIndexFolder"
            name="Table Index Folder"
            parent-node="table"
            table-type="index_folder">
      </node>
      <node
            class="net.sourceforge.sqlexplorer.oracle.nodes.TableTriggerFolder"
            database-product-name="Oracle*"
            icon="icons/trigger.gif"
            id="net.sourceforge.sqlexplorer.oracle.nodes.TableTriggerFolder"
            name="Table Trigger Folder"
            parent-node="table"
            table-type="trigger_folder">
      </node>
   </extension>
   <extension
         point="net.sourceforge.sqlexplorer.nodeDetailTab">
      <detailtab
            class="net.sourceforge.sqlexplorer.oracle.tabs.SessionsTab"
            database-product-name="Oracle*"
            id="net.sourceforge.sqlexplorer.oracle.SessionsTab"
            name="Sessions Tab"
            node-type="database">
      </detailtab>
      <detailtab
            class="net.sourceforge.sqlexplorer.oracle.tabs.JobsTab"
            database-product-name="Oracle*"
            id="net.sourceforge.sqlexplorer.oracle.JobsTab"
            name="Jobs Tab"
            node-type="database">
      </detailtab>
      <detailtab
            class="net.sourceforge.sqlexplorer.oracle.tabs.TopSQLTab"
            database-product-name="Oracle*"
            id="net.sourceforge.sqlexplorer.oracle.TopSQLTab"
            name="TopSQL Tab"
            node-type="database">
      </detailtab>
      <detailtab
            class="net.sourceforge.sqlexplorer.oracle.tabs.UsersTab"
            database-product-name="Oracle*"
            id="net.sourceforge.sqlexplorer.oracle.UsersTab"
            name="Users Tab"
            node-type="database">
      </detailtab>
      <detailtab
            class="net.sourceforge.sqlexplorer.oracle.tabs.ParametersTab"
            database-product-name="Oracle*"
            id="net.sourceforge.sqlexplorer.oracle.tabs.ParametersTab"
            name="Parameters Tab"
            node-type="database">
      </detailtab>
      <detailtab
            class="net.sourceforge.sqlexplorer.oracle.tabs.SequenceDetailTab"
            database-product-name="Oracle*"
            id="net.sourceforge.sqlexplorer.oracle.SequenceDetailTab"
            name="Sequence Detail Tab"
            node-type="sequence">
      </detailtab>
      <detailtab
            class="net.sourceforge.sqlexplorer.oracle.tabs.SourceTab"
            database-product-name="Oracle*"
            id="net.sourceforge.sqlexplorer.oracle.SourceTab"
            name="Source Tab"
            node-type="function,java_source,package_body,package,procedure,trigger">
      </detailtab>
      <detailtab
            class="net.sourceforge.sqlexplorer.oracle.tabs.InfoTab"
            database-product-name="Oracle*"
            id="net.sourceforge.sqlexplorer.oracle.InfoTab"
            name="Info Tab"
            node-type="function,java_source,package_body,package,procedure,trigger,sequence,materialized_view,index">
      </detailtab>
      <detailtab
            class="net.sourceforge.sqlexplorer.oracle.tabs.DDLTab"
            database-product-name="Oracle*"
            id="net.sourceforge.sqlexplorer.oracle.DDLTab"
            name="DDL Tab"
            node-type="function,java_source,package_body,package,procedure,trigger,sequence,table,materialized_view,index">
      </detailtab>
      <detailtab
            class="net.sourceforge.sqlexplorer.oracle.tabs.XMLTab"
            database-product-name="Oracle*"
            id="net.sourceforge.sqlexplorer.oracle.XMLTab"
            name="XML Tab"
            node-type="function,java_source,package_body,package,procedure,trigger,sequence,table,materialized_view,index">
      </detailtab>
      <detailtab
            class="net.sourceforge.sqlexplorer.oracle.tabs.ProcedureTab"
            database-product-name="Oracle*"
            id="net.sourceforge.sqlexplorer.oracle.ProcedureTab"
            name="Procedure Tab"
            node-type="procedure,package_procedure">
      </detailtab>
      <detailtab
            class="net.sourceforge.sqlexplorer.oracle.tabs.ArgumentsTab"
            database-product-name="Oracle*"
            id="net.sourceforge.sqlexplorer.tabs.ArgumentTab"
            name="Argument Tab"
            node-type="procedure,package_procedure">
      </detailtab>
   </extension>

</plugin>
