<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
            context="plugin:org.talend.sqltools"
            language="java"
            message="Needed for sqltools"
            name="Zql.jar"
            required="true">
      </libraryNeeded>
   </extension>

</plugin>
