<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.objectmodel.core.presentation.CoreModelWizardID"
      name = "%_UI_CoreModelWizard_label"
      class = "orgomg.cwm.objectmodel.core.presentation.CoreModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/CoreModelFile.gif">
      <description>%_UI_CoreModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.objectmodel.core.presentation.CoreEditorID"
        name = "%_UI_CoreEditor_label"
        icon = "icons/full/obj16/CoreModelFile.gif"
        extensions = "core"
        class = "orgomg.cwm.objectmodel.core.presentation.CoreEditor" 
        contributorClass="orgomg.cwm.objectmodel.core.presentation.CoreActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.objectmodel.behavioral.presentation.BehavioralModelWizardID"
      name = "%_UI_BehavioralModelWizard_label"
      class = "orgomg.cwm.objectmodel.behavioral.presentation.BehavioralModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/BehavioralModelFile.gif">
      <description>%_UI_BehavioralModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.objectmodel.behavioral.presentation.BehavioralEditorID"
        name = "%_UI_BehavioralEditor_label"
        icon = "icons/full/obj16/BehavioralModelFile.gif"
        extensions = "behavioral"
        class = "orgomg.cwm.objectmodel.behavioral.presentation.BehavioralEditor" 
        contributorClass="orgomg.cwm.objectmodel.behavioral.presentation.BehavioralActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.objectmodel.relationships.presentation.RelationshipsModelWizardID"
      name = "%_UI_RelationshipsModelWizard_label"
      class = "orgomg.cwm.objectmodel.relationships.presentation.RelationshipsModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/RelationshipsModelFile.gif">
      <description>%_UI_RelationshipsModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.objectmodel.relationships.presentation.RelationshipsEditorID"
        name = "%_UI_RelationshipsEditor_label"
        icon = "icons/full/obj16/RelationshipsModelFile.gif"
        extensions = "relationships"
        class = "orgomg.cwm.objectmodel.relationships.presentation.RelationshipsEditor" 
        contributorClass="orgomg.cwm.objectmodel.relationships.presentation.RelationshipsActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.objectmodel.instance.presentation.InstanceModelWizardID"
      name = "%_UI_InstanceModelWizard_label"
      class = "orgomg.cwm.objectmodel.instance.presentation.InstanceModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/InstanceModelFile.gif">
      <description>%_UI_InstanceModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.objectmodel.instance.presentation.InstanceEditorID"
        name = "%_UI_InstanceEditor_label"
        icon = "icons/full/obj16/InstanceModelFile.gif"
        extensions = "instance"
        class = "orgomg.cwm.objectmodel.instance.presentation.InstanceEditor" 
        contributorClass="orgomg.cwm.objectmodel.instance.presentation.InstanceActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.foundation.businessinformation.presentation.BusinessinformationModelWizardID"
      name = "%_UI_BusinessinformationModelWizard_label"
      class = "orgomg.cwm.foundation.businessinformation.presentation.BusinessinformationModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/BusinessinformationModelFile.gif">
      <description>%_UI_BusinessinformationModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.foundation.businessinformation.presentation.BusinessinformationEditorID"
        name = "%_UI_BusinessinformationEditor_label"
        icon = "icons/full/obj16/BusinessinformationModelFile.gif"
        extensions = "businessinformation"
        class = "orgomg.cwm.foundation.businessinformation.presentation.BusinessinformationEditor" 
        contributorClass="orgomg.cwm.foundation.businessinformation.presentation.BusinessinformationActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.foundation.datatypes.presentation.DatatypesModelWizardID"
      name = "%_UI_DatatypesModelWizard_label"
      class = "orgomg.cwm.foundation.datatypes.presentation.DatatypesModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/DatatypesModelFile.gif">
      <description>%_UI_DatatypesModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.foundation.datatypes.presentation.DatatypesEditorID"
        name = "%_UI_DatatypesEditor_label"
        icon = "icons/full/obj16/DatatypesModelFile.gif"
        extensions = "datatypes"
        class = "orgomg.cwm.foundation.datatypes.presentation.DatatypesEditor" 
        contributorClass="orgomg.cwm.foundation.datatypes.presentation.DatatypesActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.foundation.expressions.presentation.ExpressionsModelWizardID"
      name = "%_UI_ExpressionsModelWizard_label"
      class = "orgomg.cwm.foundation.expressions.presentation.ExpressionsModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/ExpressionsModelFile.gif">
      <description>%_UI_ExpressionsModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.foundation.expressions.presentation.ExpressionsEditorID"
        name = "%_UI_ExpressionsEditor_label"
        icon = "icons/full/obj16/ExpressionsModelFile.gif"
        extensions = "expressions"
        class = "orgomg.cwm.foundation.expressions.presentation.ExpressionsEditor" 
        contributorClass="orgomg.cwm.foundation.expressions.presentation.ExpressionsActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.foundation.keysindexes.presentation.KeysindexesModelWizardID"
      name = "%_UI_KeysindexesModelWizard_label"
      class = "orgomg.cwm.foundation.keysindexes.presentation.KeysindexesModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/KeysindexesModelFile.gif">
      <description>%_UI_KeysindexesModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.foundation.keysindexes.presentation.KeysindexesEditorID"
        name = "%_UI_KeysindexesEditor_label"
        icon = "icons/full/obj16/KeysindexesModelFile.gif"
        extensions = "keysindexes"
        class = "orgomg.cwm.foundation.keysindexes.presentation.KeysindexesEditor" 
        contributorClass="orgomg.cwm.foundation.keysindexes.presentation.KeysindexesActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.foundation.softwaredeployment.presentation.SoftwaredeploymentModelWizardID"
      name = "%_UI_SoftwaredeploymentModelWizard_label"
      class = "orgomg.cwm.foundation.softwaredeployment.presentation.SoftwaredeploymentModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/SoftwaredeploymentModelFile.gif">
      <description>%_UI_SoftwaredeploymentModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.foundation.softwaredeployment.presentation.SoftwaredeploymentEditorID"
        name = "%_UI_SoftwaredeploymentEditor_label"
        icon = "icons/full/obj16/SoftwaredeploymentModelFile.gif"
        extensions = "softwaredeployment"
        class = "orgomg.cwm.foundation.softwaredeployment.presentation.SoftwaredeploymentEditor" 
        contributorClass="orgomg.cwm.foundation.softwaredeployment.presentation.SoftwaredeploymentActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.foundation.typemapping.presentation.TypemappingModelWizardID"
      name = "%_UI_TypemappingModelWizard_label"
      class = "orgomg.cwm.foundation.typemapping.presentation.TypemappingModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/TypemappingModelFile.gif">
      <description>%_UI_TypemappingModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.foundation.typemapping.presentation.TypemappingEditorID"
        name = "%_UI_TypemappingEditor_label"
        icon = "icons/full/obj16/TypemappingModelFile.gif"
        extensions = "typemapping"
        class = "orgomg.cwm.foundation.typemapping.presentation.TypemappingEditor" 
        contributorClass="orgomg.cwm.foundation.typemapping.presentation.TypemappingActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.resource.relational.presentation.RelationalModelWizardID"
      name = "%_UI_RelationalModelWizard_label"
      class = "orgomg.cwm.resource.relational.presentation.RelationalModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/RelationalModelFile.gif">
      <description>%_UI_RelationalModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.resource.relational.presentation.RelationalEditorID"
        name = "%_UI_RelationalEditor_label"
        icon = "icons/full/obj16/RelationalModelFile.gif"
        extensions = "relational"
        class = "orgomg.cwm.resource.relational.presentation.RelationalEditor" 
        contributorClass="orgomg.cwm.resource.relational.presentation.RelationalActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.resource.record.presentation.RecordModelWizardID"
      name = "%_UI_RecordModelWizard_label"
      class = "orgomg.cwm.resource.record.presentation.RecordModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/RecordModelFile.gif">
      <description>%_UI_RecordModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.resource.record.presentation.RecordEditorID"
        name = "%_UI_RecordEditor_label"
        icon = "icons/full/obj16/RecordModelFile.gif"
        extensions = "record"
        class = "orgomg.cwm.resource.record.presentation.RecordEditor" 
        contributorClass="orgomg.cwm.resource.record.presentation.RecordActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.resource.multidimensional.presentation.MultidimensionalModelWizardID"
      name = "%_UI_MultidimensionalModelWizard_label"
      class = "orgomg.cwm.resource.multidimensional.presentation.MultidimensionalModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/MultidimensionalModelFile.gif">
      <description>%_UI_MultidimensionalModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.resource.multidimensional.presentation.MultidimensionalEditorID"
        name = "%_UI_MultidimensionalEditor_label"
        icon = "icons/full/obj16/MultidimensionalModelFile.gif"
        extensions = "multidimensional"
        class = "orgomg.cwm.resource.multidimensional.presentation.MultidimensionalEditor" 
        contributorClass="orgomg.cwm.resource.multidimensional.presentation.MultidimensionalActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.resource.xml.presentation.XmlModelWizardID"
      name = "%_UI_XmlModelWizard_label"
      class = "orgomg.cwm.resource.xml.presentation.XmlModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/XmlModelFile.gif">
      <description>%_UI_XmlModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.resource.xml.presentation.XmlEditorID"
        name = "%_UI_XmlEditor_label"
        icon = "icons/full/obj16/XmlModelFile.gif"
        extensions = "xml"
        class = "orgomg.cwm.resource.xml.presentation.XmlEditor" 
        contributorClass="orgomg.cwm.resource.xml.presentation.XmlActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.analysis.transformation.presentation.TransformationModelWizardID"
      name = "%_UI_TransformationModelWizard_label"
      class = "orgomg.cwm.analysis.transformation.presentation.TransformationModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/TransformationModelFile.gif">
      <description>%_UI_TransformationModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.analysis.transformation.presentation.TransformationEditorID"
        name = "%_UI_TransformationEditor_label"
        icon = "icons/full/obj16/TransformationModelFile.gif"
        extensions = "transformation"
        class = "orgomg.cwm.analysis.transformation.presentation.TransformationEditor" 
        contributorClass="orgomg.cwm.analysis.transformation.presentation.TransformationActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.analysis.olap.presentation.OlapModelWizardID"
      name = "%_UI_OlapModelWizard_label"
      class = "orgomg.cwm.analysis.olap.presentation.OlapModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/OlapModelFile.gif">
      <description>%_UI_OlapModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.analysis.olap.presentation.OlapEditorID"
        name = "%_UI_OlapEditor_label"
        icon = "icons/full/obj16/OlapModelFile.gif"
        extensions = "olap"
        class = "orgomg.cwm.analysis.olap.presentation.OlapEditor" 
        contributorClass="orgomg.cwm.analysis.olap.presentation.OlapActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.analysis.datamining.presentation.DataminingModelWizardID"
      name = "%_UI_DataminingModelWizard_label"
      class = "orgomg.cwm.analysis.datamining.presentation.DataminingModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/DataminingModelFile.gif">
      <description>%_UI_DataminingModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.analysis.datamining.presentation.DataminingEditorID"
        name = "%_UI_DataminingEditor_label"
        icon = "icons/full/obj16/DataminingModelFile.gif"
        extensions = "datamining"
        class = "orgomg.cwm.analysis.datamining.presentation.DataminingEditor" 
        contributorClass="orgomg.cwm.analysis.datamining.presentation.DataminingActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.analysis.informationvisualization.presentation.InformationvisualizationModelWizardID"
      name = "%_UI_InformationvisualizationModelWizard_label"
      class = "orgomg.cwm.analysis.informationvisualization.presentation.InformationvisualizationModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/InformationvisualizationModelFile.gif">
      <description>%_UI_InformationvisualizationModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.analysis.informationvisualization.presentation.InformationvisualizationEditorID"
        name = "%_UI_InformationvisualizationEditor_label"
        icon = "icons/full/obj16/InformationvisualizationModelFile.gif"
        extensions = "informationvisualization"
        class = "orgomg.cwm.analysis.informationvisualization.presentation.InformationvisualizationEditor" 
        contributorClass="orgomg.cwm.analysis.informationvisualization.presentation.InformationvisualizationActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.analysis.businessnomenclature.presentation.BusinessnomenclatureModelWizardID"
      name = "%_UI_BusinessnomenclatureModelWizard_label"
      class = "orgomg.cwm.analysis.businessnomenclature.presentation.BusinessnomenclatureModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/BusinessnomenclatureModelFile.gif">
      <description>%_UI_BusinessnomenclatureModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.analysis.businessnomenclature.presentation.BusinessnomenclatureEditorID"
        name = "%_UI_BusinessnomenclatureEditor_label"
        icon = "icons/full/obj16/BusinessnomenclatureModelFile.gif"
        extensions = "businessnomenclature"
        class = "orgomg.cwm.analysis.businessnomenclature.presentation.BusinessnomenclatureEditor" 
        contributorClass="orgomg.cwm.analysis.businessnomenclature.presentation.BusinessnomenclatureActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.management.warehouseprocess.presentation.WarehouseprocessModelWizardID"
      name = "%_UI_WarehouseprocessModelWizard_label"
      class = "orgomg.cwm.management.warehouseprocess.presentation.WarehouseprocessModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/WarehouseprocessModelFile.gif">
      <description>%_UI_WarehouseprocessModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.management.warehouseprocess.presentation.WarehouseprocessEditorID"
        name = "%_UI_WarehouseprocessEditor_label"
        icon = "icons/full/obj16/WarehouseprocessModelFile.gif"
        extensions = "warehouseprocess"
        class = "orgomg.cwm.management.warehouseprocess.presentation.WarehouseprocessEditor" 
        contributorClass="orgomg.cwm.management.warehouseprocess.presentation.WarehouseprocessActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.management.warehouseprocess.events.presentation.EventsModelWizardID"
      name = "%_UI_EventsModelWizard_label"
      class = "orgomg.cwm.management.warehouseprocess.events.presentation.EventsModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/EventsModelFile.gif">
      <description>%_UI_EventsModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.management.warehouseprocess.events.presentation.EventsEditorID"
        name = "%_UI_EventsEditor_label"
        icon = "icons/full/obj16/EventsModelFile.gif"
        extensions = "events"
        class = "orgomg.cwm.management.warehouseprocess.events.presentation.EventsEditor" 
        contributorClass="orgomg.cwm.management.warehouseprocess.events.presentation.EventsActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwm.management.warehouseoperation.presentation.WarehouseoperationModelWizardID"
      name = "%_UI_WarehouseoperationModelWizard_label"
      class = "orgomg.cwm.management.warehouseoperation.presentation.WarehouseoperationModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/WarehouseoperationModelFile.gif">
      <description>%_UI_WarehouseoperationModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwm.management.warehouseoperation.presentation.WarehouseoperationEditorID"
        name = "%_UI_WarehouseoperationEditor_label"
        icon = "icons/full/obj16/WarehouseoperationModelFile.gif"
        extensions = "warehouseoperation"
        class = "orgomg.cwm.management.warehouseoperation.presentation.WarehouseoperationEditor" 
        contributorClass="orgomg.cwm.management.warehouseoperation.presentation.WarehouseoperationActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwmx.foundation.er.presentation.ErModelWizardID"
      name = "%_UI_ErModelWizard_label"
      class = "orgomg.cwmx.foundation.er.presentation.ErModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/ErModelFile.gif">
      <description>%_UI_ErModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwmx.foundation.er.presentation.ErEditorID"
        name = "%_UI_ErEditor_label"
        icon = "icons/full/obj16/ErModelFile.gif"
        extensions = "er"
        class = "orgomg.cwmx.foundation.er.presentation.ErEditor" 
        contributorClass="orgomg.cwmx.foundation.er.presentation.ErActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwmx.resource.coboldata.presentation.CoboldataModelWizardID"
      name = "%_UI_CoboldataModelWizard_label"
      class = "orgomg.cwmx.resource.coboldata.presentation.CoboldataModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/CoboldataModelFile.gif">
      <description>%_UI_CoboldataModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwmx.resource.coboldata.presentation.CoboldataEditorID"
        name = "%_UI_CoboldataEditor_label"
        icon = "icons/full/obj16/CoboldataModelFile.gif"
        extensions = "coboldata"
        class = "orgomg.cwmx.resource.coboldata.presentation.CoboldataEditor" 
        contributorClass="orgomg.cwmx.resource.coboldata.presentation.CoboldataActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwmx.resource.dmsii.presentation.DmsiiModelWizardID"
      name = "%_UI_DmsiiModelWizard_label"
      class = "orgomg.cwmx.resource.dmsii.presentation.DmsiiModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/DmsiiModelFile.gif">
      <description>%_UI_DmsiiModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwmx.resource.dmsii.presentation.DmsiiEditorID"
        name = "%_UI_DmsiiEditor_label"
        icon = "icons/full/obj16/DmsiiModelFile.gif"
        extensions = "dmsii"
        class = "orgomg.cwmx.resource.dmsii.presentation.DmsiiEditor" 
        contributorClass="orgomg.cwmx.resource.dmsii.presentation.DmsiiActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwmx.resource.imsdatabase.presentation.ImsdatabaseModelWizardID"
      name = "%_UI_ImsdatabaseModelWizard_label"
      class = "orgomg.cwmx.resource.imsdatabase.presentation.ImsdatabaseModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/ImsdatabaseModelFile.gif">
      <description>%_UI_ImsdatabaseModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwmx.resource.imsdatabase.presentation.ImsdatabaseEditorID"
        name = "%_UI_ImsdatabaseEditor_label"
        icon = "icons/full/obj16/ImsdatabaseModelFile.gif"
        extensions = "imsdatabase"
        class = "orgomg.cwmx.resource.imsdatabase.presentation.ImsdatabaseEditor" 
        contributorClass="orgomg.cwmx.resource.imsdatabase.presentation.ImsdatabaseActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwmx.resource.essbase.presentation.EssbaseModelWizardID"
      name = "%_UI_EssbaseModelWizard_label"
      class = "orgomg.cwmx.resource.essbase.presentation.EssbaseModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/EssbaseModelFile.gif">
      <description>%_UI_EssbaseModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwmx.resource.essbase.presentation.EssbaseEditorID"
        name = "%_UI_EssbaseEditor_label"
        icon = "icons/full/obj16/EssbaseModelFile.gif"
        extensions = "essbase"
        class = "orgomg.cwmx.resource.essbase.presentation.EssbaseEditor" 
        contributorClass="orgomg.cwmx.resource.essbase.presentation.EssbaseActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwmx.resource.express.presentation.ExpressModelWizardID"
      name = "%_UI_ExpressModelWizard_label"
      class = "orgomg.cwmx.resource.express.presentation.ExpressModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/ExpressModelFile.gif">
      <description>%_UI_ExpressModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwmx.resource.express.presentation.ExpressEditorID"
        name = "%_UI_ExpressEditor_label"
        icon = "icons/full/obj16/ExpressModelFile.gif"
        extensions = "express"
        class = "orgomg.cwmx.resource.express.presentation.ExpressEditor" 
        contributorClass="orgomg.cwmx.resource.express.presentation.ExpressActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwmx.analysis.informationset.presentation.InformationsetModelWizardID"
      name = "%_UI_InformationsetModelWizard_label"
      class = "orgomg.cwmx.analysis.informationset.presentation.InformationsetModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/InformationsetModelFile.gif">
      <description>%_UI_InformationsetModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwmx.analysis.informationset.presentation.InformationsetEditorID"
        name = "%_UI_InformationsetEditor_label"
        icon = "icons/full/obj16/InformationsetModelFile.gif"
        extensions = "informationset"
        class = "orgomg.cwmx.analysis.informationset.presentation.InformationsetEditor" 
        contributorClass="orgomg.cwmx.analysis.informationset.presentation.InformationsetActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwmx.analysis.informationreporting.presentation.InformationreportingModelWizardID"
      name = "%_UI_InformationreportingModelWizard_label"
      class = "orgomg.cwmx.analysis.informationreporting.presentation.InformationreportingModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/InformationreportingModelFile.gif">
      <description>%_UI_InformationreportingModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwmx.analysis.informationreporting.presentation.InformationreportingEditorID"
        name = "%_UI_InformationreportingEditor_label"
        icon = "icons/full/obj16/InformationreportingModelFile.gif"
        extensions = "informationreporting"
        class = "orgomg.cwmx.analysis.informationreporting.presentation.InformationreportingEditor" 
        contributorClass="orgomg.cwmx.analysis.informationreporting.presentation.InformationreportingActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.cwmmip.presentation.CwmmipModelWizardID"
      name = "%_UI_CwmmipModelWizard_label"
      class = "orgomg.cwmmip.presentation.CwmmipModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/CwmmipModelFile.gif">
      <description>%_UI_CwmmipModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.cwmmip.presentation.CwmmipEditorID"
        name = "%_UI_CwmmipEditor_label"
        icon = "icons/full/obj16/CwmmipModelFile.gif"
        extensions = "cwmmip"
        class = "orgomg.cwmmip.presentation.CwmmipEditor" 
        contributorClass="orgomg.cwmmip.presentation.CwmmipActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "orgomg.mof.model.presentation.ModelModelWizardID"
      name = "%_UI_ModelModelWizard_label"
      class = "orgomg.mof.model.presentation.ModelModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/ModelModelFile.gif">
      <description>%_UI_ModelModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "orgomg.mof.model.presentation.ModelEditorID"
        name = "%_UI_ModelEditor_label"
        icon = "icons/full/obj16/ModelModelFile.gif"
        extensions = "model"
        class = "orgomg.mof.model.presentation.ModelEditor" 
        contributorClass="orgomg.mof.model.presentation.ModelActionBarContributor" >
    </editor>
  </extension>    
</plugin>
