<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="HelpContext.xml"
            plugin="org.talend.dataprofiler.help">
      </contexts>
      <contexts
            file="HelpIndicator.xml"
            plugin="org.talend.dataprofiler.help">
      </contexts>
      <contexts
            file="HelpPatternContext.xml"
            plugin="org.talend.dataprofiler.help">
      </contexts>
      <contexts
            file="HelpAnalysisContext.xml"
            plugin="org.talend.dataprofiler.help">
      </contexts>
       <contexts
            file="HelpUserDefineIndicatorContext.xml"
            plugin="org.talend.dataprofiler.help">
      </contexts>
       <contexts
             file="HelpExpressionEditContext.xml"
             plugin="org.talend.dataprofiler.help">
       </contexts>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="index.xml">
      </index>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.help.ui"
            class="org.talend.dataprofiler.help.BookmarksHelpView"
            icon="icons/bookmarks_view.gif"
            id="org.talend.dataprofiler.help.BookmarksHelpView"
            name="%Bookmarks"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.talend.dataprofiler.help.show.viewBookmark.command"
            name="View bookmarks">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.talend.dataprofiler.help.handler.ShowViewBookmarkHandler"
            commandId="org.talend.dataprofiler.help.show.viewBookmark.command">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:help?after=tdq">
         <command
               commandId="org.talend.dataprofiler.help.show.viewBookmark.command"
               icon="icons/bookmarks_view.gif"
               id="org.talend.dataprofiler.help.show.viewBookmark.menus.command"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
