<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="HelpContext.xml"
            plugin="org.talend.dataprofiler.help">
      </contexts>
      <contexts
            file="HelpIndicator.xml"
            plugin="org.talend.dataprofiler.help">
      </contexts>
      <contexts
            file="HelpPatternContext.xml"
            plugin="org.talend.dataprofiler.help">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.talend.dataprofiler.help.actionSet"
            label="actionSet"
            visible="true">
         <action
               class="org.talend.dataprofiler.help.actions.ViewBookMarksAction"
               icon="icons/bookmarks_view.gif"
               id="org.talend.dataprofiler.help.openBookmarkAction"
               label="%ViewBookmark"
               menubarPath="help/helpStart"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="html/wizard/indicator_select/advanced_statistics.html">
      </index>
   </extension>
   <extension
         point="org.eclipse.ui.helpSupport">
      <config
            class="org.talend.dataprofiler.help.TdAbstractHelpUI">
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.help.ui"
            class="org.talend.dataprofiler.help.BookmarksHelpView"
            icon="icons/bookmarks_view.gif"
            id="org.talend.dataprofiler.help.BookmarksHelpView"
            name="%Bookmarks"
            restorable="true">
      </view>
   </extension>

</plugin>
