<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://dataquality.analysis" 
       class = "org.talend.dataquality.analysis.AnalysisPackage"
       genModel = "model/dataquality.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://org.talend.dataquality.category" 
       class = "org.talend.dataquality.analysis.category.CategoryPackage"
       genModel = "model/dataquality.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://dataquality.reports" 
       class = "org.talend.dataquality.reports.ReportsPackage"
       genModel = "model/dataquality.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://dataquality.indicators" 
       class = "org.talend.dataquality.indicators.IndicatorsPackage"
       genModel = "model/dataquality.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://dataquality.indicators.schema" 
       class = "org.talend.dataquality.indicators.schema.SchemaPackage"
       genModel = "model/dataquality.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://dataquality.indicators.definition" 
       class = "org.talend.dataquality.indicators.definition.DefinitionPackage"
       genModel = "model/dataquality.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://dataquality.expressions" 
       class = "org.talend.dataquality.expressions.ExpressionsPackage"
       genModel = "model/dataquality.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://dataquality.domain" 
       class = "org.talend.dataquality.domain.DomainPackage"
       genModel = "model/dataquality.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://dataquality.domain.pattern" 
       class = "org.talend.dataquality.domain.pattern.PatternPackage"
       genModel = "model/dataquality.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://dataquality.domain.sql" 
       class = "org.talend.dataquality.domain.sql.SQLPackage"
       genModel = "model/dataquality.genmodel" /> 
  </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.talend.commons.emf.CwmResourceFactory"
            type="prv">
      </parser>
      <parser
            class="org.talend.commons.emf.CwmResourceFactory"
            type="definition">
      </parser>
      <parser
            class="org.talend.commons.emf.CwmResourceFactory"
            type="ana">
      </parser>
      <parser
            class="org.talend.commons.emf.CwmResourceFactory"
            type="pattern">
      </parser>
      <parser
            class="org.talend.commons.emf.CwmResourceFactory"
            type="rules">
      </parser>
   </extension>
   <extension
         point="org.talend.core.repository.dq_EMFModel_provider">
      <dqEMFModel
            class="org.talend.commons.emf.InitialDQModelPackagesService">
      </dqEMFModel>
   </extension>

</plugin>
