<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.dataprofiler.rcp.TopService"
            serviceId="ICoreService">
      </Service>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.dataprofiler.rcp.TOPBrandingService"
            serviceId="org.talend.core.ui.branding.IBrandingService">
      </Service>
   </extension>
	 <extension
        point="org.eclipse.ui.cheatsheets.cheatSheetContent">
  
     <cheatsheet
           category="org.talend.dataprofiler.core.category"
           composite="true"
           contentFile="cheatsheets/Getting_started.xml"
           id="org.talend.dataprofiler.core.talenddataprofiler"
           name="%Gettingstarted">
     </cheatsheet>
    
  </extension>
   
    

</plugin>
