<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.talend.dataprofiler.rcp.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.talend.rcp.branding.top.application"
            name="Talend Open Profiler">
         <property
               name="windowImages"
               value="platform:/plugin/org.talend.dataprofiler.rcp/icons/appli_16x16.gif,platform:/plugin/org.talend.dataprofiler.rcp/icons/appli_32x32.gif,platform:/plugin/org.talend.dataprofiler.rcp/icons/appli_48x48.gif">
         </property>
         <property
            name="aboutImage"
            value="icons/about.gif"/>
         <property
            name="aboutText"
            value="%aboutText"/>
         <property
               name="appName"
               value="Talend Open Profiler">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="platform:/plugin/org.talend.dataprofiler.rcp/icons/appli_16x16.gif"
            id="org.talend.rcp.branding.top.intro">
      </intro>
      <introProductBinding
            introId="org.talend.rcp.branding.top.intro"
            productId="org.talend.rcp.branding.top.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="org.talend.rcp.branding.top.intro"
            content="introContent.xml"
            id="org.talend.rcp.branding.top.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
            point="org.talend.dataprofiler.core.service">
       <Service class="org.talend.rcp.branding.top.TOPBrandingService"
               serviceId="org.talend.dataprofiler.core.service.IBrandingService"/>
   </extension>

</plugin>
