<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension
         point="org.eclipse.ui.navigator.viewer">
       <viewerActionBinding
             viewerId="org.talend.dataprofiler.core.ui.views.DQRespositoryView">
          <includes>
             <actionExtension pattern="org.talend.cwm.compare.ui.actions.provider.*" />
          </includes>
       </viewerActionBinding>  
   </extension>
   <extension  
         point="org.eclipse.ui.navigator.navigatorContent">
     <actionProvider
            class="org.talend.cwm.compare.ui.actions.provider.ReloadDatabaseProvider"
            id="org.talend.cwm.compare.ui.actions.provider.ReloadDatabaseProvider">
         <enablement>
          <or>
            <instanceof
                     value="org.talend.dq.nodes.foldernode.AbstractDatabaseFolderNode">
            </instanceof>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
                <test
                        property="org.eclipse.core.resources.name"
                        value="*.prv">
                </test>
             </and>
           </or>
         </enablement>
      </actionProvider>        
     <actionProvider
            class="org.talend.cwm.compare.ui.actions.provider.PopComparisonUIProvider"
            id="org.talend.cwm.compare.ui.actions.provider.PopComparisonUIProvider">
         <enablement>
          <or>
            <instanceof
                     value="org.talend.dq.nodes.foldernode.AbstractDatabaseFolderNode">
            </instanceof>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
                <test
                        property="org.eclipse.core.resources.name"
                        value="*.prv">
                </test>
             </and>
           </or>
         </enablement>
      </actionProvider>
     <actionProvider
           class="org.talend.cwm.compare.ui.actions.provider.SelectedCompareUIProvider"
           id="org.talend.cwm.compare.ui.actions.provider.SelectedCompareUIProvider">
        <enablement>
           <or>
              <instanceof
                    value="orgomg.cwm.objectmodel.core.Package">
              </instanceof>
              <instanceof
                    value="orgomg.cwm.resource.relational.ColumnSet">
              </instanceof>
              <and>
                 <instanceof
                       value="org.eclipse.core.resources.IFile">
                 </instanceof>
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.prv">
                 </test>
              </and>
              <instanceof
                    value="orgomg.cwm.resource.relational.Column">
              </instanceof></or>
        </enablement>
     </actionProvider>        
   </extension>
   
   <!-- extension
         point="org.eclipse.ui.views">
      <view
            class="org.talend.cwm.compare.ui.views.DQRepositoryListenerView"
            id="org.talend.cwm.compare.ui.views.DQRepositoryListenerView"
            name="DQRepository Compare View">
      </view>
   </extension -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.talend.cwm.compare.ui.actions.IFileRefresh"
            nameFilter="*.prv"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.talend.cwm.compare.ui.actions.RefreshConnectionActionDelegate"
               enablesFor="1"
               icon="icons/update.gif"
               id="org.talend.cwm.compare.ui.actions.RefreshIFileAction"
               label="%action.label.RefreshConnection"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="org.talend.cwm.compare.ui.actions.TdSchemaRefresh"
            objectClass="org.talend.cwm.relational.impl.TdSchemaImpl">
         <action
               class="org.talend.cwm.compare.ui.actions.RefreshSchemaActionDelegate"
               enablesFor="1"
               icon="icons/update.gif"
               id="org.talend.cwm.compare.ui.actions.RefreshTdSchemaAction"
               label="%action.label.RefreshSchema"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="org.talend.cwm.compare.ui.actions.TdTableRefresh"
            objectClass="org.talend.cwm.relational.impl.TdTableImpl">
         <action
               class="org.talend.cwm.compare.ui.actions.RefreshTableActionDelegate"
               enablesFor="1"
               icon="icons/update.gif"
               id="org.talend.cwm.compare.ui.actions.RefreshTdTableAction"
               label="%action.label.RefreshTable"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="org.talend.cwm.compare.ui.actions.TdViewRefresh"
            objectClass="org.talend.cwm.relational.impl.TdViewImpl">
         <action
               class="org.talend.cwm.compare.ui.actions.RefreshViewActionDelegate"
               enablesFor="1"
               icon="icons/update.gif"
               id="org.talend.cwm.compare.ui.actions.RefreshTdViewAction"
               label="%action.label.RefreshView"
               menubarPath="additions">
         </action>
      </objectContribution>

   </extension>
</plugin>
