<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension
         point="org.eclipse.ui.navigator.viewer">
       <viewerActionBinding
             viewerId="org.talend.dataprofiler.core.ui.views.DQRespositoryView">
          <includes>
             <actionExtension pattern="org.talend.cwm.compare.ui.actions.provider.*" />
          </includes>
       </viewerActionBinding>  
   </extension>
   <extension  
         point="org.eclipse.ui.navigator.navigatorContent">
     <actionProvider
            class="org.talend.cwm.compare.ui.actions.provider.ReloadDatabaseProvider"
            id="org.talend.cwm.compare.ui.actions.provider.ReloadDatabaseProvider">
         <enablement>
          <or>
            <instanceof
                     value="org.talend.dq.nodes.foldernode.AbstractDatabaseFolderNode">
            </instanceof>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
                <or>
                   <test
                         property="org.eclipse.core.resources.name"
                         value="*.prv">
                   </test>
                   <test
                         property="org.eclipse.core.resources.name"
                         value="*.item">
                   </test>
                </or>
             </and>
            <instanceof
                  value="org.talend.core.model.repository.IRepositoryViewObject">
            </instanceof>
           </or>
         </enablement>
      </actionProvider>        
     <actionProvider
            class="org.talend.cwm.compare.ui.actions.provider.PopComparisonUIProvider"
            id="org.talend.cwm.compare.ui.actions.provider.PopComparisonUIProvider">
         <enablement>
          <or>
            <instanceof
                     value="org.talend.dq.nodes.foldernode.AbstractDatabaseFolderNode">
            </instanceof>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
                <or>
                   <test
                         property="org.eclipse.core.resources.name"
                         value="*.prv">
                   </test>
                   <test
                         property="org.eclipse.core.resources.name"
                         value="*.item">
                   </test>
                </or>
             </and>
            <instanceof
                  value="org.talend.core.model.repository.IRepositoryViewObject">
            </instanceof>
           </or>
         </enablement>
      </actionProvider>
     <actionProvider
           class="org.talend.cwm.compare.ui.actions.provider.SelectedCompareUIProvider"
           id="org.talend.cwm.compare.ui.actions.provider.SelectedCompareUIProvider">
        <enablement>
           <or>
              <instanceof
                    value="orgomg.cwm.objectmodel.core.Package">
              </instanceof>
              <instanceof
                    value="orgomg.cwm.resource.relational.ColumnSet">
              </instanceof>
              <and>
                 <instanceof
                       value="org.eclipse.core.resources.IFile">
                 </instanceof>
                 <or>
                    <test
                          property="org.eclipse.core.resources.name"
                          value="*.prv">
                    </test>
                    <test
                          property="org.eclipse.core.resources.name"
                          value="*.item">
                    </test>
                 </or>
              </and>
              <instanceof
                    value="org.talend.cwm.relational.TdColumn">
              </instanceof>
              <instanceof
                    value="org.talend.core.model.repository.IRepositoryViewObject">
              </instanceof></or>
        </enablement>
     </actionProvider>        
   </extension>
   
   <!-- extension
         point="org.eclipse.ui.views">
      <view
            class="org.talend.cwm.compare.ui.views.DQRepositoryListenerView"
            id="org.talend.cwm.compare.ui.views.DQRepositoryListenerView"
            name="DQRepository Compare View">
      </view>
   </extension -->
</plugin>
