<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="org.talend.rcp.branding.top.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.talend.dataprofiler.rcp.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.talend.rcp.branding.top.application"
            name="Talend Open Studio for Data Quality">
         <property
               name="windowImages"
               value="platform:/plugin/org.talend.dataprofiler.rcp/icons/appli_16x16.gif,platform:/plugin/org.talend.dataprofiler.rcp/icons/appli_32x32.gif,platform:/plugin/org.talend.dataprofiler.rcp/icons/appli_48x48.gif">
         </property>
         <property
            name="aboutImage"
            value="icons/about.jpg"/>
         <property
               name="appName"
               value="Talend Open Studio for Data Quality">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="startupProgressRect"
               value="12,224,411,14">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="A74DE3">
         </property>
         <property
               name="startupMessageRect"
               value="12,202,415,22">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.talend.themes.css.talend/themes/">
         </property>
         <property
               name="cssTheme"
               value="org.talend.themes.css.talend.default">
         </property>
          <property
                name="lifeCycleURI"
                value="bundleclass://org.talend.core.ui/org.talend.core.ui.TalendStudioLifeCycleManager">
          </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="platform:/plugin/org.talend.dataprofiler.rcp/icons/appli_16x16.gif"
            id="org.talend.rcp.branding.top.intro">
      </intro>
      <introProductBinding
            introId="org.talend.rcp.branding.top.intro"
            productId="org.talend.rcp.branding.top.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="org.talend.rcp.branding.top.intro"
            content="introContent.xml"
            id="org.talend.rcp.branding.top.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:help?after=additions">
         <menu
               id="talend"
               label="talend">
         </menu>
      </menuContribution>
   </extension>

</plugin>
