<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/objectmodel/core.ecore" 
       class = "orgomg.cwm.objectmodel.core.CorePackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/objectmodel/behavioral.ecore" 
       class = "orgomg.cwm.objectmodel.behavioral.BehavioralPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/objectmodel/relationships.ecore" 
       class = "orgomg.cwm.objectmodel.relationships.RelationshipsPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/objectmodel/instance.ecore" 
       class = "orgomg.cwm.objectmodel.instance.InstancePackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/foundation/businessinformation.ecore" 
       class = "orgomg.cwm.foundation.businessinformation.BusinessinformationPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/foundation/datatypes.ecore" 
       class = "orgomg.cwm.foundation.datatypes.DatatypesPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/foundation/expressions.ecore" 
       class = "orgomg.cwm.foundation.expressions.ExpressionsPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/foundation/keysindexes.ecore" 
       class = "orgomg.cwm.foundation.keysindexes.KeysindexesPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/foundation/softwaredeployment.ecore" 
       class = "orgomg.cwm.foundation.softwaredeployment.SoftwaredeploymentPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/foundation/typemapping.ecore" 
       class = "orgomg.cwm.foundation.typemapping.TypemappingPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/resource/relational.ecore" 
       class = "orgomg.cwm.resource.relational.RelationalPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/resource/relational/enumerations.ecore" 
       class = "orgomg.cwm.resource.relational.enumerations.EnumerationsPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/resource/record.ecore" 
       class = "orgomg.cwm.resource.record.RecordPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/resource/multidimensional.ecore" 
       class = "orgomg.cwm.resource.multidimensional.MultidimensionalPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/resource/xml.ecore" 
       class = "orgomg.cwm.resource.xml.XmlPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/analysis/transformation.ecore" 
       class = "orgomg.cwm.analysis.transformation.TransformationPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/analysis/olap.ecore" 
       class = "orgomg.cwm.analysis.olap.OlapPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/analysis/datamining.ecore" 
       class = "orgomg.cwm.analysis.datamining.DataminingPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/analysis/informationvisualization.ecore" 
       class = "orgomg.cwm.analysis.informationvisualization.InformationvisualizationPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/analysis/businessnomenclature.ecore" 
       class = "orgomg.cwm.analysis.businessnomenclature.BusinessnomenclaturePackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/management/warehouseprocess.ecore" 
       class = "orgomg.cwm.management.warehouseprocess.WarehouseprocessPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/management/warehouseprocess/datatype.ecore" 
       class = "orgomg.cwm.management.warehouseprocess.datatype.DatatypePackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/management/warehouseprocess/events.ecore" 
       class = "orgomg.cwm.management.warehouseprocess.events.EventsPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwm/management/warehouseoperation.ecore" 
       class = "orgomg.cwm.management.warehouseoperation.WarehouseoperationPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwmx/foundation/er.ecore" 
       class = "orgomg.cwmx.foundation.er.ErPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwmx/resource/coboldata.ecore" 
       class = "orgomg.cwmx.resource.coboldata.CoboldataPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwmx/resource/dmsii.ecore" 
       class = "orgomg.cwmx.resource.dmsii.DmsiiPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwmx/resource/imsdatabase.ecore" 
       class = "orgomg.cwmx.resource.imsdatabase.ImsdatabasePackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwmx/resource/imsdatabase/imstypes.ecore" 
       class = "orgomg.cwmx.resource.imsdatabase.imstypes.ImstypesPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwmx/resource/essbase.ecore" 
       class = "orgomg.cwmx.resource.essbase.EssbasePackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwmx/resource/express.ecore" 
       class = "orgomg.cwmx.resource.express.ExpressPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwmx/analysis/informationset.ecore" 
       class = "orgomg.cwmx.analysis.informationset.InformationsetPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwmx/analysis/informationreporting.ecore" 
       class = "orgomg.cwmx.analysis.informationreporting.InformationreportingPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/cwmmip.ecore" 
       class = "orgomg.cwmmip.CwmmipPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///orgomg/mof/model.ecore" 
       class = "orgomg.mof.model.ModelPackage"
       genModel = "model/cwm_mip.genmodel" /> 
  </extension>

</plugin>
